<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Trace.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <!-- Configure the Sql Membership Provider -->
    <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlConn" applicationName="Trace" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager defaultProvider="SqlRoleProvider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <clear />
        <add name="SqlRoleProvider" type="Trace.SqlRoleProvider" />
      </providers>
    </roleManager>
    <httpRuntime maxRequestLength="104857600" maxUrlLength="65536" maxQueryStringLength="32768" targetFramework="4.5" />
    <!--<httpRuntime maxRequestLength="104857600" targetFramework="4.5" />-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Trace.Extensions" />
      </namespaces>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="104857600" maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="TRACEEntities" connectionString="metadata=res://*/Models.ModelTrace.csdl|res://*/Models.ModelTrace.ssdl|res://*/Models.ModelTrace.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOBEK\SQL2012EXPRESS,1433;initial catalog=TRACE;user id=sa;password=MakaronI.321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <Trace.My.MySettings>
      <setting name="SkipLogin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GoogleApiKey" serializeAs="String">
        <value>AIzaSyAuMVtFW5C6X3qoOxjBCS7XE_XXixa-9Ng</value>
      </setting>
      <setting name="emailSMTP" serializeAs="String">
        <value>smtp.forpsi.com</value>
      </setting>
      <setting name="emailPORT" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="emailUserEmail" serializeAs="String">
        <value>noreply@clientbox.cz</value>
      </setting>
      <setting name="emailUserPass" serializeAs="String">
        <value>Saheslo16</value>
      </setting>
      <setting name="aboutEOSMail" serializeAs="String">
        <value>martina.bednarova@eos-ksi.cz</value>
      </setting>
      <setting name="aboutEOSTel" serializeAs="String">
        <value>+420 241 081 226</value>
      </setting>
      <setting name="aboutAGMail" serializeAs="String">
        <value>podpora@agilo.cz</value>
      </setting>
      <setting name="aboutAGTel" serializeAs="String">
        <value>+420 725 144 164</value>
      </setting>
      <setting name="aboutEOSUrl" serializeAs="String">
        <value>http://eos-ksi.cz</value>
      </setting>
      <setting name="aboutAGUrl" serializeAs="String">
        <value>http://agilo.cz</value>
      </setting>
      <setting name="AutoLogOffDelay" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="CountOfAllowedBadLogins" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AutoUnlockingBlockedAccountMinutes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NotAllowedLastUsedPasswords" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="PasswordValidityDays" serializeAs="String">
        <value>365</value>
      </setting>
      <setting name="SupervisorEmail" serializeAs="String">
        <value>novak@agilo.cz</value>
      </setting>
    </Trace.My.MySettings>
  </applicationSettings>
  <system.net>
    <defaultProxy enabled="false">
      <proxy proxyaddress="http://Eosprpx03.eosksicz.net:3128" />
      <bypasslist>
        <add address="[a-z]+\.Eosprpx03.eosksicz\.net" />
      </bypasslist>
    </defaultProxy>
  </system.net>
</configuration>